@media (max-width:992px) {
    .form-signin {
        margin-top:20%;
    }
}
@media (max-width:576px) {
    .form-signin {
        margin-top: 0px;
    }
}
.form-signin {
    max-width: 576px!important;
}