/*messages*/

nav .badge {
  max-width: 20px;
  padding: 3px;
}
.badge {
  position: absolute;
  top: 0px;
  right: -5px;
  z-index: 1;
  color: black;
}
.badge:not(.bg-light):not(.bg-white):not(.bg-warning) {
  color: white!important;
}
.badgeHolder {
  position: relative;
}

.badgeHolder .nav-link {
  position:relative;
  z-index: 2;
}

a.dropdown-item {
  cursor: pointer!important;
}
.active:not(.taskManagerHoverClass):not(a.dropdown-item) {
  cursor: default;
}

div > .nav-link.active {
  color: #fff;
}

/*  dropdown menu   */
@media (min-width: 992px){
	.dropdown-menu:not(.dropdownButSideNavOpen) .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu:not(.dropdownButSideNavOpen) .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu:not(.dropdownButSideNavOpen) li{
		position: relative;
	}
	.nav-item .submenu:not(.dropdownButSideNavOpen){
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left:not(.dropdownButSideNavOpen){
		right:100%; left:auto;
	}
	.dropdown-menu:not(.dropdownButSideNavOpen) > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu:not(.dropdownButSideNavOpen) > li:hover > .submenu{
		display: block;
	}
}

/*navbar lang*/
#languageSelected{
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  display: inline-block!important;
  padding-right: 0px;
}

#languageSelected:hover {
  color: rgba(255,255,255,0.5);
}

#languageDropdown-inner {
  min-width: initial;
  left: initial!important;
  right: 0px;
}
#audioBtn {
  width: 30px;
  color: white;
}
#languageDropdown{
  text-align: right;
}

@media (min-width: 992px) {

  #languageDropdown {
    
    transform: translate(-95px, 0);
  }

  #logOutButton {
    transform: translate(75px, 0);
  }

  #loginHyperlink {
    transform: translate(75px, 0);

  }
}


#logOutButton {
  color: rgba(255,255,255,0.5);
}
  
#logOutButton:hover {
  color: rgba(255,255,255,1);
}

#loginHyperlink:not(.active) {
  color: rgba(255,255,255,0.5);
}

#loginHyperlink:hover  {
  color: rgba(255,255,255,1);
}

.iconbig2 {
  height: 38px;
}
.iconbig {
  height: 30px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.border-bottom-dotted{
  border-bottom-width: 1px !important;
  border-bottom-style: dotted !important;
}

.navbar-collapse > a{
    margin-left: auto;
}
@media (min-width: 992px) {
  .navbar-collapse > ul > li:not(.navbar-collapse > ul > li:first-child) {
      border-left: 1px solid #0062cc;
  }
}
@media (max-width: 991px) {
  .navbar-collapse > ul > li {
      border-bottom: 1px solid #0062cc;
  }
}


/*buttons animation*/
.btn-custom-animation {
  box-shadow: 0 0.3rem 0.1rem rgb(0 0 0 / 50%);
  transition: box-shadow 1s, transform 1s; 
}

.btn-custom-animation:hover {
  box-shadow: 0 0.2rem 0.1rem rgb(0 0 0 / 30%)!important;
  transform: translateY(0.1rem);
}

.btn-custom-animation:active {
  box-shadow: 0 0rem 0rem rgb(0 0 0 / 20%)!important;
}

#GameDiv {
  margin-bottom: 100px;
}

#GameDiv, 
#endGameDiv {
  border-radius: 20px; 
  overflow: hidden;
  padding: 30px;
  transform: translate(-30px);
  width: calc(100% + 60px);
  line-height: 2;
}

#gameBottom {
	position: fixed;
	bottom: 5%;
	width: 100%;
	left: 3%;
}

.tooltip.show {
  opacity: .7;
}

.fillForTooltip {
  display:inline-block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 576px) {
  .pt-xs-30 {
    padding-top: 30px;
  }
}

#languageOption1:not(.bg-light),#languageOption2:not(.bg-light) {
  cursor: pointer;
}

#languageOption1.bg-light,#languageOption2.bg-light {
  cursor: default;
}

/*Dual list taskset pick*/
.dual-list .list-group {
	margin-top: 8px;
}

.list-left li, .list-right li {
	cursor: pointer;
}

.list-arrows {
	padding-top: 100px;
}

.list-arrows button {
	margin-bottom: 20px;
}

/*messages*/
#messageContentDisplay,#messageLobbyContentDisplay, #messageTitleDisplay {
  white-space: pre-wrap;
}