html {
  /*troche pomaga z pokryciem tła gdy kontent rozciąga strone, ale nie wiem czemy body się nei rozciąga*/
  min-height: 100%;
  height: fit-content;
  box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

#headline {
      background-image: none;
}

@media (min-width: 1200px) {
  #headline {
      background-repeat: no-repeat;
      background-position: right 30px bottom -40px;
      background-image: url(../assets/Nerd-amico.svg);
  }
}

.footer-text {
  color: rgba(255,255,255,.25);
  text-shadow: none;
}

.btn-lg {
  padding: .6rem 2rem;
  font-size: 2.25rem;
}

/*btn anim2*/
@keyframes btnSlide {
  from {margin-left: -400%;}
  to {margin-left: -0%;}
}


#indexLogin {
  animation-name: btnSlide;
  animation-duration: 2s;
}

#indexJoinGame {
  animation-name: btnSlide;
  animation-duration: 2s;
}
/*ludek pod przyciskiem*/

@media (max-width: 725px) {
  body {
      background-repeat: no-repeat;
      background-position: center  bottom 20%;
      background-image: url(../assets/Nerd-amico.svg);
  }
}