/*answers template0*/
.answer {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(10, 108, 255);
  border-radius: 10px;
}
.answer:active{
  /*TODO
    naprawić bug bo nie działa poprawnie

    info odnoście możliwej poprawki
    https://stackoverflow.com/questions/3227819/jquery-draggable-ui-overrides-normal-browser-behavior-for-html-elements-inside-d

    nagle zaczęło działaćpo dodaniu tego .answer:active{
    ale na firefoxie nie działa nadal
  */
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.droppableAnswerHolder {
  position: absolute;
  background-color: rgba(100,100,100,0.5);
  width: calc(100% + 20px);
  padding: 10px;
  text-align: center;
  left: -10px;
  top: -10px;
}
.draggable { position: absolute; padding: 0.3em; float: left; margin: 10px 10px 10px 0; }
.ui-draggable.ui-draggable-handle.ui-droppable.endpointDrag:active  {
  /*TODO
    naprawić bug bo nie działa poprawnie

    info odnoście możliwej poprawki
    https://stackoverflow.com/questions/3227819/jquery-draggable-ui-overrides-normal-browser-behavior-for-html-elements-inside-d
  */
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.answerHolderWrapper { 
  /* background-color:rgba(0, 162, 255, 0.541); */
  margin:5px;
  display:inline-block;
  vertical-align: middle; 
  position: relative; 
  width: 50px; 
  height: 30px; 
  padding: 0.5em;  
  margin: 10px; 
}

.ui-droppable-hover {
  background-color: rgba(3, 255, 66, 0.548)!important;
}
.ui-droppable-active {
  background-color: rgba(0, 61, 228, 0.5);
}
.ui-droppable {
  background-color: rgba(228, 0, 0, 0.11);
}
.ui-state-highlight {
  background-color: rgba(0, 175, 228, 0.116);
  color: black;
  border: none;
} 


.ui-draggable-dragging {
  background-color: green;
}
.ui-draggable-handle {
  background-color: rgb(0, 228, 68);
}
.ui-draggable-dragging {
  background-color: rgb(0, 46, 253)!important;
  color: white;
}
.ui-draggable {
  background-color: rgb(255, 255, 255);
  cursor: grab;
}
/*answers template2*/
.ui-sortable-helper {
  position: absolute;
  /* top:-400px; */
}
#sortable {
  list-style-type: none;
  margin: 0;
  position: relative;
  padding: 2px;
}
/*mniejszy margin dla game center*/
@media (min-width: 1200px) {
  .m-custom {
    margin-top: 120px!important;
  }
}
@media (max-width: 1200px) {
  .m-custom {
    margin-top: 100px!important;
  }
}
@media (max-width: 990px) {
  .m-custom {
    margin-top: 60px!important;
  }
}
@media (max-width: 770px) {
  .m-custom {
    margin-top: 40px!important;
  }
}

/*margin top dla przycisku next i timera*/
@media (max-width: 990px) {
  .button-m-custom {
    margin-top: 30px!important;
  }
}

@media (max-width: 770px) {
  .button-m-custom {
    margin-top: 50px!important;
  }
}

#gameTop {
  padding: 20px;
  text-shadow: 0 0.3rem 0.1rem rgba(0, 0, 0, .5);
  transform: translate(0px,-30px);
}
@media (max-width: 990px) {
  .gameTop {
    margin-top: 20px;
  }
}
@media (max-width: 770px) {
  .gameTop {
    margin-top: 40px;
  }
}

/*connections*/
.window { 
  background-color: #EEEEEF;
  border: 1px solid #346789;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px #AAAAAA;
  color: black;
  height: 5em;
  position: absolute;
  width: 5em;
}

.window:hover { 
  box-shadow: 2px 2px 19px #AAAAAA;
  cursor: pointer;
}


.button_add, .button_add_window, .button_remove, .button {
  background-color: deepskyblue;
  text-align: center;
  border: 1px solid;
}

.button_container {
  margin: 5px;
  background-color: #aaaaaa
}

svg.fs-connector path {
  stroke: lightgray;
  fill: lightgray;
  stroke-width: 3;
}

svg.fs-connector-hover path {
  stroke: gray;
  fill: gray;
  stroke-width: 3;
} 
.rightSideC{
  width:50%;
  display: inline-block;
  float: right;
}
.leftSideC {
  width:50%;
  display: inline-block;
  float: left;
}
.rightLineC{
  display: block;
  min-height: 10%;
  float: right;
  width: 100%;
}
.leftLineC {
  display: block;
  min-height: 10%;
  float: left;
  width: 100%;
}

.word {
  border: 1px solid black;
  display: inline-block;
  width: 65%;
  border: 2px solid blue;
  border-radius: 20%;
  text-align: center;
}

.definition {
  border: 2px solid blue;
  border-radius: 20%;
  display: inline-block;
  float: right;
  width: 80%;
  min-height: 10%;
}

/*css template'a od chronological orderu*/

.ui-icon {
  filter: invert(0%) sepia(90%) saturate(6554%) hue-rotate(575deg) brightness(119%) contrast(141%);
}

.ui-icon-right {
  margin: auto!important;
  position: absolute!important;
  top: 0; bottom: 0; right: 0;
}
.ui-icon-left {
  margin: auto!important;
  position: absolute!important;
  top: 0; bottom: 0; left: 0;
}

.ui-state-default.ui-sortable-handle {
  border: 2px solid blue;
  border-radius: 20%;
  margin-top: 1px;
  margin-bottom: 1px;

  position: relative;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;

  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.ui-state-default.ui-sortable-handle:active {
  /*TODO
    naprawić bug bo nie działa poprawnie

    info odnoście możliwej poprawki
    https://stackoverflow.com/questions/3227819/jquery-draggable-ui-overrides-normal-browser-behavior-for-html-elements-inside-d
  */
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}


/*other global.css*/