
<html>
<head>

    
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
        body {

            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("/assets/404 Error-rafiki.svg");
            text-align: center;

        }

        button {
            bottom: 50px;
            position: absolute;
        }
    </style>
    <script>
        function sentToHome () {
            window.location.replace('/')
        }
    </script>
</head>

<body>
    <button class="btn btn-primary btn-lg" onclick="sentToHome()">Strona główna</button>
    
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>