<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Language learning game">
  <meta name="author" content="Artur, Michał">
  <title>Home</title>
  <link rel="icon" href="/assets/myIcons/icon.svg">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/product/">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/global.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top fixed-top">
    <div class="container-xl">
      <a class="navbar-brand" href="/">
        <img src="assets/myIcons/iconbig.svg" class="d-block mx-auto iconbig">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08" >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link active" href="/">Strona Domowa</a>
          </li>
          <li class="nav-item collapse" id="gameHyperlink">
            <a class="nav-link" href="/lobby">Gra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" id="helpHyperlink">Wsparcie</a>
          </li>
          <li class="nav-item" id="registerHyperlink">
            <a class="nav-link" href="/register">Rejestracja</a>
          </li>
          <li class="nav-item" id="loginHyperlink">
            <a class="nav-link mr-auto" href="/login" >Zaloguj</a>
          </li>
          <li class="nav-item collapse" id="dashboardHyperlink">
            <a class="nav-link" href="/dashboard" >Rankingi</a>
          </li>
          <li class="nav-item collapse" id="swaggerHyperlink">
            <a class="nav-link " href="/swagger-ui/">Swagger</a>
          </li>
          <li class="nav-item collapse" id="taskDataHyperlink">
            <a class="nav-link " href="/tasks/import/global">Task Manager</a>
          </li>
          <li class="nav-item collapse" id="actuatorHyperlink">
            <a class="nav-link " href="/actuator">Actuator</a>
          </li>
          <li class="nav-item mr-auto collapse" id="profileHyperlink">
            <a class="nav-link" href="/profile">Profil</a>
          </li>
        </ul>
        <a class="nav-link mr-r pl-0 collapse" id="logOutButton" href="/logout">Wyloguj</a>
      </div>
    </div>
  </nav>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" id="headline">
    <div class="col-md-12 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal mb-5" id="indexHelloPlayer">Witaj!</h1>
      <button class="btn btn-lg btn-primary collapse p-3 btn-custom-animation" id="indexJoinGame">Dołącz do gry</button>
      <button class="btn btn-lg btn-primary collapse p-3 btn-custom-animation" id="indexLogin">Zaloguj się</button>
      <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
    <div class="shadow-sm d-none d-md-block headline"></div>
  </div>

  <!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-primary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-primary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div> -->

  <footer class="footer">
    <div class="container text-center">
      <span class="text-muted m-auto">
        Ucz się angielskiego razem z nami.
        <br>
        &copy; 2020-2021 Artur Lech, Michał Kullass.
      </span> 
    </div>
  </footer>
<script src="js/jquery/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script>
      window.jQuery || document.write('<script src="assets/js/vendor/jquery.slim.min.js"><\/script>')
</script>
<script src="js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="js/index.js"></script>
<script src="js/navbar.js"></script>
<script>
  var debug = IndexLogic.getInstance(debug = false);
</script>
</body>
</html>
