<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Language learning game">
    <meta name="author" content="Artur, Michał">
    <title>index</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
    <link rel="icon" href="assets/myIcons/icon.svg">
    <!-- Bootstrap core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="css/task.css" rel="stylesheet">
    <link rel="stylesheet" href="js/jquery/jquery-plugins/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/jquery/jquery-plugins/jquery-ui.min.js"></script>
    <script src="js/jquery/jquery-plugins/jquery-ui-touch-punch.min.js"></script>
    <script src="js/jquery/jquery-plugins/jquery-simulate.js"></script>
  </head>

  <body class="bg-primary">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">Ustawienia Lobby</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="inputMaxPlayers" class="col-form-label">Max graczy:</label>
            <input type="number" class="form-control" id="inputMaxPlayers" value="10">

            <hr>
            <label for="lobbyVisibility" class="col-form-label">Widoczność lobby:</label>
            <select id="lobbyVisibility">
              <option>Publiczne</option>
              <option>Prywatne</option>
              <option>Testowe</option>
            </select>
            <hr>
            <h5>Pozostałe opcje</h5>
            <p>...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveSettings">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- loading modal -->
    <div class="hideBeforeLoadModal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-sm">
          <div class="modal-content" style="width: 48px">
              <span class="fa fa-spinner fa-spin fa-3x"></span>
          </div>
      </div>
    </div>
    <!-- main content -->
    <div class="container fill">
      <!-- game -->
      <div class="row shadow-sm timer-m-custom" id="GameTop">
        <div class="col-12">
          <div id="gameTimer">Timer</div>
        </div>
      </div>
      <div class="row shadow-sm mt-3 rounded" id="GameWrapperWrapper">
        <div class="col-12" id="GameWrapperDiv">
          <div id="GameDivDecoration" class="m-custom my-3 p-3 rounded shadow-sm overflow-auto" style="overflow:hidden;">
            <div class="bg-light" id="GameDiv">
              <h6 class="border-bottom border-gray pb-2 mb-0 text-dark"> Content: </h6>
              <div class="taskContent">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis laoreet orci, et <div class="answerHolder "></div> mauris. Nam rhoncus, quam congue iaculis cursus, arcu orci cursus ante, ac scelerisque velit nibh eget urna. Fusce a iaculis elit, a aliquam sapien. Aliquam posuere tincidunt mi in pulvinar. Ut at lobortis ipsum. Aliquam erat volutpat. <div class="answerHolder "></div> velit elit, suscipit nec mi eu, dignissim ullamcorper augue. Aliquam in sodales ex, in finibus dui. Nulla blandit laoreet eros vel ornare. In dignissim mauris at nulla condimentum gravida.

                Nam eu odio at ipsum condimentum pulvinar. Donec consectetur nibh dolor, gravida aliquam dui convallis non. Duis ut velit dictum, congue <div class="answerHolder "></div> nec, rutrum sem. Nam sagittis, felis a finibus condimentum, massa mauris accumsan elit, in egestas ante nisi id augue. Suspendisse laoreet odio libero, non euismod est dictum id. Donec pharetra, sapien efficitur blandit ullamcorper, velit nibh dignissim risus, placerat accumsan nibh enim ac lorem. In eu nisi arcu. Proin auctor egestas nisi vel pulvinar. Sed nec mauris eu lacus ultrices finibus et a leo. Fusce ac arcu a nisi maximus interdum vitae nec lorem.
              </div>
              <h6 class="border-bottom border-gray pb-2 mb-0 text-dark"> Answers: </h6>
              <div class="pb-2 mb-0 " id="taskAnswerHolder">
                <div class="answerHolder ">
                  <div class="answer draggable">
                    słowo
                  </div>
                </div>
                <div class="answerHolder ">
                  <div class="answer draggable">
                    słowo
                  </div>
                </div>
                <div class="answerHolder ">
                  <div class="answer draggable">
                    słowo
                  </div>
                </div>
                <div class="answerHolder ">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row shadow-sm mt-3 text-center button-m-custom" id="GameBottom">
        <div class="col-12">
          <buton class="btn btn-lg btn-secondary mb-3" id="btnNextTask">Nastepne zadanie</buton>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted m-auto">Ucz się angielskiego razem z nami <img src="assets/myIcons/iconbigblack.svg" class="iconbig" style=" filter: invert(25%);"></span>
      </div>
    </footer>
  </body>
</html>
 <script src="js/jquery/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script> -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script src="js/task.js"></script>
